body{
    margin-top: 50px;
}

/*中间主要内容*/
#content{
    margin: 40px;
    text-align: center;
}

#content  .container{
    text-align: center;
}

#content  .container .row img{
    width: 140px;
}

#content  .container .row p{
    text-align:left;
    text-indent: 8%;
}

#tab .tab-content p{
    text-align: left;
    text-indent: 37px;
}
#tab .tab-content .col-md-7{
    margin-top: 100px;
}
#tab .tab-content .col-md-5{
    padding-top: 20px;
}

#footer{
    padding-bottom: 50px;
}

/*屏幕适配*/
@media screen and (max-width: 976px){
    #tab .tab-content .col-md-7{
        margin-top: 10px;
    }

    #content .container .row .col-md-4{
        margin-bottom: 10px;
    }

}
